.search-bar {
	margin: 20px;
	text-align: center;
}

.search-bar input {
	width: 75%;
}

.video-item img {
	max-width: 64px;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ddd;
}

.video-detail .details p {
	font-size: 1em;
	color: gray;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item: hover {
	background-color: #eee
}

.media-body {
	margin-left: 0.5em;
}